html{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
    font-size: 25px;
    width: 80%;
    margin: 0 auto;
    background-color: rgb(214, 247, 247);
    background-image: url("/src/img/img.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: luminosity;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    letter-spacing: 2px;
}

h1{ 
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
}

.city-time{
    display: flex;
    gap: 1rem;
}
.city-time h3{
    margin: 0;
}

#content h2{
    margin-top: 0;
    text-align: center;
}

#content{
    color: rgb(198, 158, 236);
    margin-top: 2rem;
    background-color: rgb(134, 223, 223);
    border-radius: .2rem;
    padding: 2rem;
}

footer{
        color: rgb(198, 158, 236);
        margin-top: 2rem;
        background-color: rgb(134, 223, 223);
        border-radius: .2rem;
        padding: .5rem;
        text-align: center;
        font-weight: 700;
}

.box{
    box-shadow: 10px 10px rgb(182, 133, 228);
}

.input{
    display: flex;
    justify-content: space-between;
}

.header{
    background-color: rgb(134, 223, 223);
    border-radius: .2rem;
    padding: .3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    color: rgb(198, 158, 236);
}

span{
    color: rgb(189, 121, 253);
}

.time{
    display: flex;
    gap: .5rem;
}

.time p{
    margin: 0;
}

#check-btn{
    width: 25%;
    padding: .3rem;
    border: none;
    border-radius: .2rem;
    background-color: rgb(114, 11, 211);
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.1rem;
    color: white;

}
#check-btn:hover{
    background-color: rgb(80, 8, 146);
    cursor: pointer;
    
}

#capitals{
    border: none;
    background-color: rgb(134, 223, 223);
    border-radius: .2rem;
    width: 65%;
    color: rgb(114, 11, 211);
    font-size: 1.1rem;
    padding: 3px;
}

p{
    font-weight: 700;
}

.sun-col {
    color: rgb(100, 100, 17);
}
